<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<div class="min-h-full h-screen bg-gray-100">
    <header class="bg-indigo-600 pb-24 h-1/4">
    </header>
    <main class="-mt-24 pb-8">
        <div class="mx-auto max-w-3xl px-4 sm:px-6">
            <h1 class="sr-only">Page title</h1>
            <div class="grid grid-cols-1 items-start gap-4 lg:gap-8">
                <div class="grid grid-cols-1 gap-4 lg:col-span-2">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    <footer class="h-full text-center">
        <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="border-t border-gray-200 py-8 text-center text-sm text-gray-500"><span
                    class="block sm:inline">&copy; {{ ''|date('Y') }} Todo Company, Inc.</span> <span class="block sm:inline">All rights reserved.</span>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
